{
  "openapi": "3.1.0",
  "info": {
    "title": "Siam",
    "version": "0.0.1"
  },
  "servers": [
    {
      "url": "https://api.grupopakatnamu.com/api"
    }
  ],
  "security": [
    {
      "http": []
    }
  ],
  "paths": {
    "/configuration/roles/{roleId}/access": {
      "post": {
        "operationId": "access.storeMany",
        "tags": ["Access"],
        "parameters": [
          {
            "name": "roleId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreManyPermissionsRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": ["Permisos actualizados correctamente"]
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/configuration/access": {
      "get": {
        "operationId": "access.index",
        "tags": ["Access"],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "first": {
                              "type": "string"
                            },
                            "last": {
                              "type": "string"
                            },
                            "prev": {
                              "type": ["string", "null"]
                            },
                            "next": {
                              "type": ["string", "null"]
                            }
                          },
                          "required": ["first", "last", "prev", "next"]
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": ["string", "null"]
                            },
                            "last_page": {
                              "type": "integer"
                            },
                            "links": {
                              "type": "array",
                              "prefixItems": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["&laquo; Previous"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["1"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "null"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["..."]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "null"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["..."]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["Next &raquo;"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                }
                              ],
                              "minItems": 7,
                              "maxItems": 7,
                              "additionalItems": false
                            },
                            "path": {
                              "type": "string"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "to": {
                              "type": ["string", "null"]
                            },
                            "total": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "current_page",
                            "from",
                            "last_page",
                            "links",
                            "path",
                            "per_page",
                            "to",
                            "total"
                          ]
                        }
                      },
                      "required": ["data", "links", "meta"]
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "access.store",
        "tags": ["Access"],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`AccessResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      }
    },
    "/configuration/access/{id}": {
      "get": {
        "operationId": "access.show",
        "tags": ["Access"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`AccessResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "access.update",
        "tags": ["Access"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`EquipmentResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EquipmentResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationException"
          }
        }
      },
      "delete": {
        "operationId": "access.destroy",
        "tags": ["Access"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": ["Acceso eliminado correctamente"]
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/gp/gh/accountant-district-assignments": {
      "get": {
        "operationId": "accountant-district-assignments.index",
        "summary": "Display a listing of accountant district assignments",
        "tags": ["AccountantDistrictAssignment"],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "first": {
                              "type": "string"
                            },
                            "last": {
                              "type": "string"
                            },
                            "prev": {
                              "type": ["string", "null"]
                            },
                            "next": {
                              "type": ["string", "null"]
                            }
                          },
                          "required": ["first", "last", "prev", "next"]
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": ["string", "null"]
                            },
                            "last_page": {
                              "type": "integer"
                            },
                            "links": {
                              "type": "array",
                              "prefixItems": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["&laquo; Previous"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["1"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "null"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["..."]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "null"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["..."]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["Next &raquo;"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                }
                              ],
                              "minItems": 7,
                              "maxItems": 7,
                              "additionalItems": false
                            },
                            "path": {
                              "type": "string"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "to": {
                              "type": ["string", "null"]
                            },
                            "total": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "current_page",
                            "from",
                            "last_page",
                            "links",
                            "path",
                            "per_page",
                            "to",
                            "total"
                          ]
                        }
                      },
                      "required": ["data", "links", "meta"]
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "accountant-district-assignments.store",
        "summary": "Store a newly created accountant district assignment",
        "tags": ["AccountantDistrictAssignment"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreAccountantDistrictAssignmentRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`AccountantDistrictAssignmentResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountantDistrictAssignmentResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/gp/gh/accountant-district-assignments/{id}": {
      "get": {
        "operationId": "accountant-district-assignments.show",
        "summary": "Display the specified accountant district assignment",
        "tags": ["AccountantDistrictAssignment"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`AccountantDistrictAssignmentResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountantDistrictAssignmentResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "accountant-district-assignments.update",
        "summary": "Update the specified accountant district assignment",
        "tags": ["AccountantDistrictAssignment"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccountantDistrictAssignmentRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`AccountantDistrictAssignmentResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountantDistrictAssignmentResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "accountant-district-assignments.destroy",
        "summary": "Remove the specified accountant district assignment",
        "tags": ["AccountantDistrictAssignment"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": ["Asignaci\u00f3n eliminada correctamente"]
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/ap/facturacion/accounting-entries/preview/{shippingGuideId}": {
      "get": {
        "operationId": "accountingEntry.preview",
        "summary": "Preview del resource de asiento contable antes de sincronizar",
        "tags": ["AccountingEntry"],
        "parameters": [
          {
            "name": "shippingGuideId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["Error generando preview"]
                    },
                    "message": {
                      "type": "string"
                    },
                    "trace": {
                      "type": ["string", "null"]
                    }
                  },
                  "required": ["error", "message", "trace"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "shipping_guide": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "series": {
                          "type": "string"
                        },
                        "document_number": {
                          "type": "string"
                        },
                        "issue_date": {
                          "type": "string"
                        },
                        "transfer_reason_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "series",
                        "document_number",
                        "issue_date",
                        "transfer_reason_id"
                      ]
                    },
                    "electronic_document": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "full_number": {
                          "type": "string"
                        },
                        "fecha_emision": {
                          "type": "string"
                        },
                        "total": {
                          "type": "string"
                        },
                        "items_count": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "full_number",
                        "fecha_emision",
                        "total",
                        "items_count"
                      ]
                    },
                    "accounting_entry": {
                      "type": "object",
                      "properties": {
                        "header": {
                          "type": "object",
                          "properties": {
                            "Asiento": {
                              "type": "integer"
                            },
                            "EmpresaId": {
                              "type": "string",
                              "enum": ["CTEST"]
                            },
                            "LoteId": {
                              "type": "string",
                              "description": "'CTEST'"
                            },
                            "Referencia": {
                              "type": "string"
                            },
                            "Fecha": {
                              "type": "string"
                            },
                            "MonedaId": {
                              "type": "string"
                            },
                            "TipoTasaId": {
                              "type": "string",
                              "enum": ["VENDER"]
                            },
                            "TipoCambio": {
                              "type": "string"
                            },
                            "Error": {
                              "type": "string",
                              "enum": [""]
                            },
                            "Estado": {
                              "type": "integer",
                              "enum": [0]
                            },
                            "FechaEstado": {
                              "type": "null"
                            }
                          },
                          "required": [
                            "Asiento",
                            "EmpresaId",
                            "LoteId",
                            "Referencia",
                            "Fecha",
                            "MonedaId",
                            "TipoTasaId",
                            "TipoCambio",
                            "Error",
                            "Estado",
                            "FechaEstado"
                          ]
                        },
                        "details": {
                          "type": "array",
                          "prefixItems": [
                            {
                              "type": "object",
                              "properties": {
                                "Asiento": {
                                  "type": "integer"
                                },
                                "Linea": {
                                  "type": "string"
                                },
                                "CuentaNumero": {
                                  "type": "string"
                                },
                                "Debito": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "enum": [0]
                                    }
                                  ]
                                },
                                "Credito": {
                                  "anyOf": [
                                    {
                                      "type": "number",
                                      "enum": [0]
                                    },
                                    {
                                      "type": "string"
                                    }
                                  ]
                                },
                                "Descripcion": {
                                  "type": "string",
                                  "enum": ["Reversion precio unitario"]
                                }
                              },
                              "required": [
                                "Asiento",
                                "Linea",
                                "CuentaNumero",
                                "Debito",
                                "Credito",
                                "Descripcion"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "Asiento": {
                                  "type": "integer"
                                },
                                "Linea": {
                                  "type": "string"
                                },
                                "CuentaNumero": {
                                  "type": "string"
                                },
                                "Debito": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "enum": [0]
                                    }
                                  ]
                                },
                                "Credito": {
                                  "anyOf": [
                                    {
                                      "type": "number",
                                      "enum": [0]
                                    },
                                    {
                                      "type": "string"
                                    }
                                  ]
                                },
                                "Descripcion": {
                                  "type": "string",
                                  "enum": ["Reversion descuento"]
                                }
                              },
                              "required": [
                                "Asiento",
                                "Linea",
                                "CuentaNumero",
                                "Debito",
                                "Credito",
                                "Descripcion"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "Asiento": {
                                  "type": "integer"
                                },
                                "Linea": {
                                  "type": "string"
                                },
                                "CuentaNumero": {
                                  "type": "string"
                                },
                                "Debito": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "enum": [0]
                                    }
                                  ]
                                },
                                "Credito": {
                                  "anyOf": [
                                    {
                                      "type": "number",
                                      "enum": [0]
                                    },
                                    {
                                      "type": "string"
                                    }
                                  ]
                                },
                                "Descripcion": {
                                  "type": "string",
                                  "enum": ["Balance precio"]
                                }
                              },
                              "required": [
                                "Asiento",
                                "Linea",
                                "CuentaNumero",
                                "Debito",
                                "Credito",
                                "Descripcion"
                              ]
                            },
                            {
                              "type": "object",
                              "properties": {
                                "Asiento": {
                                  "type": "integer"
                                },
                                "Linea": {
                                  "type": "string"
                                },
                                "CuentaNumero": {
                                  "type": "string"
                                },
                                "Debito": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "enum": [0]
                                    }
                                  ]
                                },
                                "Credito": {
                                  "anyOf": [
                                    {
                                      "type": "number",
                                      "enum": [0]
                                    },
                                    {
                                      "type": "string"
                                    }
                                  ]
                                },
                                "Descripcion": {
                                  "type": "string",
                                  "enum": ["Balance descuento"]
                                }
                              },
                              "required": [
                                "Asiento",
                                "Linea",
                                "CuentaNumero",
                                "Debito",
                                "Credito",
                                "Descripcion"
                              ]
                            }
                          ],
                          "minItems": 4,
                          "maxItems": 4,
                          "additionalItems": false
                        },
                        "summary": {
                          "type": "object",
                          "properties": {
                            "total_lines": {
                              "type": "string"
                            },
                            "total_debito": {
                              "type": "string"
                            },
                            "total_credito": {
                              "type": "string"
                            },
                            "balance": {
                              "type": "string"
                            },
                            "is_balanced": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "total_lines",
                            "total_debito",
                            "total_credito",
                            "balance",
                            "is_balanced"
                          ]
                        }
                      },
                      "required": ["header", "details", "summary"]
                    },
                    "message": {
                      "type": "string",
                      "enum": [
                        "Preview generado exitosamente. Este asiento NO ha sido guardado."
                      ]
                    }
                  },
                  "required": [
                    "success",
                    "shipping_guide",
                    "electronic_document",
                    "accounting_entry",
                    "message"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": ["La factura no tiene items"]
                        },
                        "electronic_document_id": {
                          "type": "string"
                        }
                      },
                      "required": ["error", "electronic_document_id"]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": ["La gu\u00eda no es de tipo VENTA"]
                        },
                        "shipping_guide_id": {
                          "type": "string"
                        },
                        "transfer_reason_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "shipping_guide_id",
                        "transfer_reason_id"
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": [
                            "No se encontr\u00f3 factura asociada a la gu\u00eda"
                          ]
                        },
                        "shipping_guide_id": {
                          "type": "string"
                        },
                        "vehicle_movement_id": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "error",
                        "shipping_guide_id",
                        "vehicle_movement_id"
                      ]
                    },
                    {
                      "type": "object",
                      "properties": {
                        "error": {
                          "type": "string",
                          "enum": ["ShippingGuide no encontrada"]
                        },
                        "shipping_guide_id": {
                          "type": "integer"
                        }
                      },
                      "required": ["error", "shipping_guide_id"]
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/ap/facturacion/accounting-entries/mappings": {
      "get": {
        "operationId": "accountingEntry.accountMappings",
        "summary": "Lista los mapeos de cuentas contables por clase de art\u00edculo",
        "tags": ["AccountingEntry"],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "string",
                      "enum": ["Error obteniendo mapeos"]
                    },
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["error", "message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "mappings": {
                      "type": "string"
                    },
                    "total": {
                      "type": "string"
                    }
                  },
                  "required": ["success", "mappings", "total"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/ap/configuration/accountingAccountPlan": {
      "get": {
        "operationId": "accountingAccountPlan.index",
        "tags": ["ApAccountingAccountPlan"],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "first": {
                              "type": "string"
                            },
                            "last": {
                              "type": "string"
                            },
                            "prev": {
                              "type": ["string", "null"]
                            },
                            "next": {
                              "type": ["string", "null"]
                            }
                          },
                          "required": ["first", "last", "prev", "next"]
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": ["string", "null"]
                            },
                            "last_page": {
                              "type": "integer"
                            },
                            "links": {
                              "type": "array",
                              "prefixItems": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["&laquo; Previous"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["1"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "null"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["..."]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "null"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["..."]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["Next &raquo;"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                }
                              ],
                              "minItems": 7,
                              "maxItems": 7,
                              "additionalItems": false
                            },
                            "path": {
                              "type": "string"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "to": {
                              "type": ["string", "null"]
                            },
                            "total": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "current_page",
                            "from",
                            "last_page",
                            "links",
                            "path",
                            "per_page",
                            "to",
                            "total"
                          ]
                        }
                      },
                      "required": ["data", "links", "meta"]
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "accountingAccountPlan.store",
        "tags": ["ApAccountingAccountPlan"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreApAccountingAccountPlanRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`ApAccountingAccountPlanResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApAccountingAccountPlanResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/ap/configuration/accountingAccountPlan/{id}": {
      "get": {
        "operationId": "accountingAccountPlan.show",
        "tags": ["ApAccountingAccountPlan"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`ApAccountingAccountPlanResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApAccountingAccountPlanResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      },
      "put": {
        "operationId": "accountingAccountPlan.update",
        "tags": ["ApAccountingAccountPlan"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApAccountingAccountPlanRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`ApAccountingAccountPlanResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApAccountingAccountPlanResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "accountingAccountPlan.destroy",
        "tags": ["ApAccountingAccountPlan"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Plan de cuenta contable eliminado correctamente"
                      ]
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/ap/configuration/assignBrandConsultant/showGrouped": {
      "get": {
        "operationId": "apAssignBrandConsultant.showGrouped",
        "tags": ["ApAssignBrandConsultant"],
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          },
          {
            "name": "sede_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "marca_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "year": {
                      "type": "integer"
                    },
                    "month": {
                      "type": "integer"
                    },
                    "sede": {
                      "type": "string",
                      "description": "'company_branch' => $first->companyBranch->abbreviation,"
                    },
                    "brand": {
                      "type": "string"
                    },
                    "workers": {
                      "type": "string"
                    }
                  },
                  "required": ["year", "month", "sede", "brand", "workers"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/ap/configuration/assignBrandConsultant/{sedeId}/brands": {
      "get": {
        "operationId": "apAssignBrandConsultant.getBrandsByBranch",
        "tags": ["ApAssignBrandConsultant"],
        "parameters": [
          {
            "name": "sedeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/ap/configuration/assignBrandConsultant/{sedeId}/brands/{brandId}/advisors": {
      "get": {
        "operationId": "apAssignBrandConsultant.getAdvisorsByBranchAndBrand",
        "tags": ["ApAssignBrandConsultant"],
        "parameters": [
          {
            "name": "sedeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "brandId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "minItems": 0,
                  "maxItems": 0,
                  "additionalItems": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/ap/configuration/assignBrandConsultant": {
      "get": {
        "operationId": "assignBrandConsultant.index",
        "tags": ["ApAssignBrandConsultant"],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "first": {
                              "type": "string"
                            },
                            "last": {
                              "type": "string"
                            },
                            "prev": {
                              "type": ["string", "null"]
                            },
                            "next": {
                              "type": ["string", "null"]
                            }
                          },
                          "required": ["first", "last", "prev", "next"]
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": ["string", "null"]
                            },
                            "last_page": {
                              "type": "integer"
                            },
                            "links": {
                              "type": "array",
                              "prefixItems": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["&laquo; Previous"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["1"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "null"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["..."]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "null"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["..."]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string"
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["Next &raquo;"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                }
                              ],
                              "minItems": 7,
                              "maxItems": 7,
                              "additionalItems": false
                            },
                            "path": {
                              "type": "string"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "to": {
                              "type": ["string", "null"]
                            },
                            "total": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "current_page",
                            "from",
                            "last_page",
                            "links",
                            "path",
                            "per_page",
                            "to",
                            "total"
                          ]
                        }
                      },
                      "required": ["data", "links", "meta"]
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "assignBrandConsultant.store",
        "tags": ["ApAssignBrandConsultant"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreApAssignBrandConsultantRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`ApAssignBrandConsultantResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApAssignBrandConsultantResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/ap/configuration/assignBrandConsultant/{id}": {
      "put": {
        "operationId": "assignBrandConsultant.update",
        "tags": ["ApAssignBrandConsultant"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApAssignBrandConsultantRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`ApAssignBrandConsultantResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApAssignBrandConsultantResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "delete": {
        "operationId": "assignBrandConsultant.destroy",
        "summary": "Remove the specified resource from storage",
        "tags": ["ApAssignBrandConsultant"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "enum": [
                        "Asignaci\u00f3n de asistente eliminado correctamente"
                      ]
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/ap/configuration/assignCompanyBranch": {
      "get": {
        "operationId": "assignCompanyBranch.index",
        "tags": ["ApAssignCompanyBranch"],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "first": {
                              "type": "string"
                            },
                            "last": {
                              "type": "string"
                            },
                            "prev": {
                              "type": ["string", "null"]
                            },
                            "next": {
                              "type": ["string", "null"]
                            }
                          },
                          "required": ["first", "last", "prev", "next"]
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": ["string", "null"]
                            },
                            "last_page": {
                              "type": "string"
                            },
                            "path": {
                              "type": "string"
                            },
                            "per_page": {
                              "type": "integer"
                            },
                            "to": {
                              "type": "string"
                            },
                            "total": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "current_page",
                            "from",
                            "last_page",
                            "path",
                            "per_page",
                            "to",
                            "total"
                          ]
                        }
                      },
                      "required": ["data", "links", "meta"]
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "post": {
        "operationId": "assignCompanyBranch.store",
        "tags": ["ApAssignCompanyBranch"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/StoreApAssignCompanyBranchRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`ApAssignCompanyBranchResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApAssignCompanyBranchResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/ap/configuration/assignCompanyBranch/{id}": {
      "get": {
        "operationId": "assignCompanyBranch.show",
        "tags": ["ApAssignCompanyBranch"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/ApAssignCompanyBranchResource"
                    },
                    {
                      "type": "string"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      },
      "put": {
        "operationId": "assignCompanyBranch.update",
        "tags": ["ApAssignCompanyBranch"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateApAssignCompanyBranchRequest"
              }
            }
          }
        },
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "`ApAssignCompanyBranchResource`",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApAssignCompanyBranchResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          },
          "422": {
            "$ref": "#/components/responses/ValidationException"
          }
        }
      }
    },
    "/ap/configuration/assignCompanyBranch/{sedeId}/workers": {
      "get": {
        "operationId": "apAssignCompanyBranch.getWorkersBySede",
        "tags": ["ApAssignCompanyBranch"],
        "parameters": [
          {
            "name": "sedeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationException"
          }
        }
      }
    },
    "/ap/configuration/assignmentLeadership/grouped/list": {
      "get": {
        "operationId": "apAssignmentLeadership.grouped",
        "summary": "Get assignments grouped by boss (for management view)",
        "tags": ["ApAssignmentLeadership"],
        "responses": {
          "500": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  },
                  "required": ["message"]
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "type": "object",
                      "properties": {
                        "data": {
                          "type": "string"
                        },
                        "links": {
                          "type": "object",
                          "properties": {
                            "first": {
                              "type": "string"
                            },
                            "last": {
                              "type": "string"
                            },
                            "prev": {
                              "type": ["string", "null"]
                            },
                            "next": {
                              "type": ["string", "null"]
                            }
                          },
                          "required": ["first", "last", "prev", "next"]
                        },
                        "meta": {
                          "type": "object",
                          "properties": {
                            "current_page": {
                              "type": "integer"
                            },
                            "from": {
                              "type": ["string", "null"]
                            },
                            "last_page": {
                              "type": "integer"
                            },
                            "links": {
                              "type": "array",
                              "prefixItems": [
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": ["string", "null"]
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["&laquo; Previous"]
                                    },
                                    "active": {
                                      "type": "boolean"
                                    }
                                  },
                                  "required": ["url", "label", "active"]
                                },
                                {
                                  "type": "object",
                                  "properties": {
                                    "url": {
                                      "type": "string"
                                    },
                                    "label": {
                                      "type": "string",
                                      "enum": ["1"]
                                    },
                                    "active": {
                                      "type": "boolean"
[...]
